.ng-cloak {
    display: none;
    visibility: hidden;
}

body {
    margin: 10px;

    font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
    color: rgb(41, 41, 41);
}

/* selection styles */

.comparisonSelect select {
    width: 320px;
    margin: 0 10px;
}

/* specification list styles */

.specs {
    display: inline-block;
    padding: 0;
    width: 320px;
    margin: 0 10px;

    list-style: none;
    border: 1px solid rgb(0, 139, 255);
    border-radius: 2px;
    overflow: hidden;
    text-align: center;
}

    .specs li {
        padding: 5px 0;
    }

    .specs li:nth-child(2n + 1) {
        background: rgba(0, 139, 255, 0.2);
    }

    .specs li:first-child {
        background: rgb(0, 139, 255);
    }