<!doctype html>
<html ng-app="compare">
    <head>
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <title>Compare Products</title>
        <meta name="viewport" content="width=device-width, initial-scale=1">

        <link rel="stylesheet" href="css/normalize.css">
        <link rel="stylesheet" href="css/main.css">
        
        <link rel="stylesheet" href="css/compare.css">
        
    </head>
    <body ng-controller="MainCtrl as main">

        <h1>Compare Products</h1>

        <main class="ng-cloak">

            <section class="comparisonSelect">

                <select ng-model="main.selected[$index]" 
                        ng-options="product.productName for product in (main.products | filter:main.notInArray(main.selected) )"
                        ng-repeat="item in main.selected track by $index">
                    <option value="">-- Select Product --</option>
                </select>

            </section>

            <section class="comparisonView ng-cloak">

                <h2>Results</h2>

                <ul class="specs" ng-repeat="specs in main.selected track by $index" ng-style="{visibility: specs && 'visible' || 'hidden'}">
                    <li>{{specs.productName}}</li>
                    <li>{{specs.price | currency:'£'}}</li>
                    <li>OS: {{specs.os}}</li>
                    <li>Dimensions(mm): {{specs.dimensions}}</li>
                    <li>Weight: {{specs.weight}}kg</li>
                    <li>Shipping Weight: {{specs.transportWeight}}kg</li>
                    <li>CPU: {{specs.cpu}}</li>
                    <li>CPU Speed:{{specs.cpuSpeed}}GHz</li>
                    <li>RAM: {{specs.ram}}GB</li>
                    <li>Storage: {{specs.storage}}</li>
                    <li>Storage Size: {{specs.storageCapacity}}GB</li>
                </ul>

            </section>

        </main>

        <script src="http://ajax.googleapis.com/ajax/libs/angularjs/1.3.0/angular.min.js"></script>
        <script src="http://ajax.googleapis.com/ajax/libs/angularjs/1.3.0/angular-touch.js"></script>

        <script src="js/products.js"></script>
        <script src="js/compare.js"></script>

    </body>
</html>
